.navbar {
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
    margin: 25px;
}
h1.m2m {
    font-size: 70px
}
.btn {
    text-align: center;
}
.weather {
    width: 300px;
    height: 200px;
    padding: 5px;
    border: 20px solid lightgray;
}